/**
 * @file
 * Use this CSS file to override components CSS rules
 */

 .field-label{
   width: 14em;
   font-weight: 700;
 }

 .field-value {
   margin-left: 14em;
 }


 @media only screen and (min-width: 640px){
   .field-label{
   width:15em;
   }

   .field-value  {
     margin-left: 15em;
   }
 }
